@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin-bottom: 12px;
  padding: 4px;
  padding-bottom: 12px;
  // box-shadow: none;
  // transition: text-shadow 0.3s, opacity 0.4s;
  // opacity: 0;
  p {
    font-size: 80%;
    line-height: 1.4;
  }

  .titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 600px) {
      h3 {
        width: 50% !important;
      }
      .dataBox {
        width: 50% !important;
      }
    }
    h3 {
      text-shadow: none;
    }
    .dataBox {
      display: flex;
      width: 165px;
      justify-content: flex-end;
      align-content: center;
      padding: 26px 0 13px;
      h4 {
        font-size: 12px;
        text-shadow: none;
        margin: 0;
        padding: 0 0 0 13px;
      }
    }
  }

  &:hover {
    .titleBox {
      h3,
      h4 {
        animation-name: colorChange;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
      @keyframes colorChange {
        20% {
          color: #66c495;
        }
        100% {
          color: #34dbde;
        }
      }
    }
  }
}

.thumbnail.visible {
  opacity: 1;
}
